aiofiles==23.2.1
aiogram==3.3.0
aiohttp==3.9.1
aiosignal==1.3.1
annotated-types==0.6.0
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.2.0
certifi==2023.11.17
coloredlogs==15.0.1
Django==5.0.1
django-extensions==3.2.3
environs==10.3.0
executor==23.2
fasteners==0.19
frozenlist==1.4.1
gunicorn==21.2.0
humanfriendly==10.0
idna==3.6
magic-filter==1.0.12
marshmallow==3.20.2
multidict==6.0.4
packaging==23.2
property-manager==3.0
pydantic==2.5.3
pydantic_core==2.14.6
pyreadline3==3.4.1
python-dotenv==1.0.0
redis==5.0.1
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.4
verboselogs==1.7
yarl==1.9.4
